@import '../../styles/theme';

.output {
    grid-area: output;
    margin-top: 2rem;
    background-color: $white;
    padding: 4rem 5rem 4rem 2rem;
    border-radius: 1rem;

    p {
        color: $black;
        font-size: 1.6rem;
        font-weight: 700;
    }

    & p:nth-child(2) {
        margin: 1.5rem 0;
    }

    .wait-message {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 10rem;
        }

        p {
            margin: 0;
        }
    }
}
