@import './theme';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $pink;
}

.app-container {
    max-width: 1140px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;

    @media (min-width: 768px) {
        align-items: center;
    }
}

.wrapper {
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'title  image'
            'form   image'
            'output image';

        column-gap: 10rem;

        & > img {
            min-width: 40rem;
            height: 30rem;
        }
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'title'
        'form'
        'output'
        'image';

    .title-container {
        grid-area: title;
    }

    h1,
    p {
        color: $white;
        font-weight: 700;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.8rem;
    }

    img {
        grid-area: image;
        width: 12rem;
        margin: 2rem auto;
    }
}
