@import './theme';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $pink;
}

.app-container {
    max-width: 1140px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'title'
        'form'
        'output'
        'image';

    .title-container {
        grid-area: title;
    }

    h1,
    p {
        color: $white;
        font-weight: 700;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.8rem;
    }
}
